version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server:java21
    container_name: minecraft-neoforge
    restart: unless-stopped
    environment:
      EULA: "TRUE"
      TYPE: "NEOFORGE"
      VERSION: "1.21.1"
      NEOFORGE_VERSION: "21.1.215"
      MEMORY: "10G"
      ONLINE_MODE: "FALSE"
      MOTD: "§6Кузезяблики"
      MAX_PLAYERS: "20"
      DIFFICULTY: "normal"
      ALLOW_FLIGHT: "TRUE"
      VIEW_DISTANCE: "32"
      SIMULATION_DISTANCE: "12"
      SERVER_PORT: "25565"
      SPAWN_PROTECTION: "0"
      USE_AIKAR_FLAGS: "TRUE"
    ports:
      - "2456:25565"
    volumes:
      - ./mods:/data/mods
      - ./config:/data/config
      - ./world:/data/world        # ← МИР СОХРАНЁН!
      - ./logs:/data/logs          # ← ЛОГИ СОХРАНЕНЫ!
      - ./plugins:/data/plugins
      - ./data:/data               # ← Всё остальное
    stdin_open: true
    tty: true