version: '3.8'

services:
  minecraft:
    image: itzg/minecraft-server:java21
    container_name: minecraft-neoforge
    #restart: unless-stopped

    environment:
      EULA: "TRUE"
      TYPE: "NEOFORGE"
      VERSION: "1.21.1"
      NEOFORGE_VERSION: "21.1.215"
      MEMORY: "10G"

      # Нелицензионный сервер
      ONLINE_MODE: "FALSE"

      # Настройки сервера
      MOTD: "§6Модовый сервер NeoForge 1.21.1"
      MAX_PLAYERS: "20"
      DIFFICULTY: "normal"
      ALLOW_FLIGHT: "TRUE"
      VIEW_DISTANCE: "10"
      SIMULATION_DISTANCE: "10"
      SERVER_PORT: "25565"

      # Оптимизация JVM
      USE_AIKAR_FLAGS: "TRUE"

    ports:
      - "2456:25565"

    volumes:
      - ./mods:/data/mods
      - ./config:/data/config
      - ./data:/data

    stdin_open: true
    tty: true