version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server:java21
    container_name: minecraft-neoforge
    restart: unless-stopped
    environment:
      EULA: "TRUE"
      TYPE: "NEOFORGE"
      VERSION: "1.21.1"
      # NEOFORGE_VERSION: "21.1.215"
      NEOFORGE_INSTALLER: "/data/neoforge-installer.jar"
      MEMORY: "14G"
      ONLINE_MODE: "FALSE"
      MOTD: "§6Кузезяблики"
      MAX_PLAYERS: "20"
      DIFFICULTY: "hard"
      ALLOW_FLIGHT: "TRUE"
      VIEW_DISTANCE: "16"
      SIMULATION_DISTANCE: "12"
      SERVER_PORT: "25565"
      SPAWN_PROTECTION: "0"
      USE_AIKAR_FLAGS: "TRUE"
    ports:
      - "2456:25565"
    volumes:
    - ./mods:/data/mods          # Моды
    - ./config:/data/config      # Конфиги
    - ./kubejs:/data/kubejs      # ← KubeJS скрипты
    - ./world:/data/world        # Мир
    - ./logs:/data/logs          # Логи
    - ./plugins:/data/plugins    # Плагины (если есть)
    - ./extras/neoforge-21.1.215-installer.jar:/data/neoforge-installer.jar:ro
    stdin_open: true
    tty: true