version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server:java21
    container_name: minecraft-neoforge
    restart: unless-stopped
    network_mode: host  # Используем сеть хоста
    environment:
      EULA: "TRUE"
      TYPE: "NEOFORGE"
      VERSION: "1.21.1"
      NEOFORGE_VERSION: "21.1.215"
      MEMORY: "14G"
      ONLINE_MODE: "FALSE"
      MOTD: "§6Кузезяблики"
      MAX_PLAYERS: "20"
      DIFFICULTY: "hard"
      ALLOW_FLIGHT: "TRUE"
      VIEW_DISTANCE: "16"
      SIMULATION_DISTANCE: "12"
      SERVER_PORT: "25565"
      SPAWN_PROTECTION: "0"
      USE_AIKAR_FLAGS: "TRUE"
      # Прокси через localhost (т.к. используем host network)
      HTTP_PROXY: "http://127.0.0.1:10809"
      HTTPS_PROXY: "http://127.0.0.1:10809"
      http_proxy: "http://127.0.0.1:10809"
      https_proxy: "http://127.0.0.1:10809"
      NO_PROXY: "localhost,127.0.0.1"
      # Java прокси
      JAVA_TOOL_OPTIONS: "-Dhttp.proxyHost=127.0.0.1 -Dhttp.proxyPort=10809 -Dhttps.proxyHost=127.0.0.1 -Dhttps.proxyPort=10809"
    volumes:
      - ./mods:/data/mods
      - ./config:/data/config
      - ./kubejs:/data/kubejs
      - ./world:/data/world
      - ./logs:/data/logs
      - ./plugins:/data/plugins
    stdin_open: true
    tty: true